body{
    margin: 0 auto;
    width: 1281px;
}

header{
   margin: 0 auto;
   width: 1152px;
   position: relative; 
   height: 717px;
}

.header-left{
    float: left;
    position: absolute;
    top: 26px;
    left: 1px;
    z-index: 3;
}

.menu{
    display: flex;
    float: right;
    margin-top: 71px;
}

.menu li a{
    font-size: 14px;
    font-family: "游ゴシック体", YuGothic ,bold;
    color: black;
    text-decoration: none;
    margin-left: 31px;
}

.main-img{
    text-align: center;
    position: absolute;
    z-index: 1;
    top: 143px;
    left: 65px;
}

.text{
    font-size: 24px;
    font-family: "游ゴシック体", YuGothic ,Medium;
    position: absolute;
    top: 610px;
    left: 1px;
}

.text-icon{
    float: right;
    position: absolute;
    z-index: 2;
    top: 379px;
    left: 655px;
}

main{
    margin: 0 auto;
    width: 1045px;
    height: 969px;
}

main h1{
    font-size: 30px;
    text-align: center;
    font-family: "游ゴシック体", YuGothic ,bold;
}

.img-box{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.img-box li{
    /* margin-top: 51px; */
    box-sizing: content-box;
    margin: 51px 14px 0;
    width: 320px;
    height: 402px;
}

.img-box li:hover{
    box-shadow: 0 0 8px gray;
}

.date{
    font-size: 16px;
    line-height: 2.5;
    margin-left: 20px;
    font-family: "游ゴシック体", YuGothic ,bold;
}

.text-box{
    margin-left: 20px;
    width: 287px;
    display: flex;
    flex-direction: row;
    font-family: "游ゴシック体", YuGothic ,Medium;
}

.readmore a{
    position: relative;
    display: inline-block;
    font-size: 12px;
    color: black;
    text-decoration: none;
    /* float: right; */
    margin-top: 79px;
    margin-left: 230px;
    
}

.readmore a::after {
    position: absolute;
    bottom: -4px;
    left: 0;
    top: 25px;
    content: '';
    width: 100%;
    height: 2px;
    background: black;
    transform: scale(0.2, 1);
    transform-origin: right top;
    transition: transform .5s;
}
.readmore a:hover::after {
    transform: scale(1, 1);
}



footer{
    margin: 0 auto;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center; 
    justify-content: center; 
    text-align: center;
    margin-top: 106px;
    background-color: black;
    font-size: 16px;
    color: white;
    font-family: "游ゴシック体", YuGothic ,bold;
    width: 100%;
    height: 128px;  
}

@media screen and (min-width: 768px) and (max-width: 1281px){
    body{
        width: 100%;
        margin: 0 auto;
    }
    header{
        margin: 0 auto;
        width: 100%;
    }
    .menu{
        margin-right: 30px;
    }

    .header-left img{
        width: 100%;
        height: auto;
    }

    .main-img img{
        
        width: 100%;
        height: auto;
    }

    .text-icon img{
        width: 100%;
        height: auto;
        margin: 23px 16px 0;
    }
}














